<template>
    <form @submit.prevent="submitForm" class="d-flex flex-column content-wrapper">
        <h3>Complete the information about yourself</h3>
        <FieldGroup label="First Name">
            <Input placeholder="First Name" v-model="form.firstName"></Input>
            <ErrorMessage v-if="$v.form.firstName.$dirty && !$v.form.firstName.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.firstName.$dirty && !$v.form.firstName.maxLength">Maximum value length is 50.</ErrorMessage>
        </FieldGroup>
        <FieldGroup label="Last Name">
            <Input placeholder="Last Name" v-model="form.lastName"></Input>
            <ErrorMessage v-if="$v.form.lastName.$dirty && !$v.form.lastName.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.lastName.$dirty && !$v.form.lastName.maxLength">Maximum value length is 50.</ErrorMessage>
        </FieldGroup>
        <FieldGroup label="Email">
            <Input placeholder="Email" v-model="form.email"></Input>
            <ErrorMessage v-if="$v.form.email.$dirty && !$v.form.email.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.email.$dirty && !$v.form.email.email">This field must be a valid email address.</ErrorMessage>
            <ErrorMessage v-if="$v.form.email.$dirty && !$v.form.email.maxLength">Maximum value length is 50.</ErrorMessage>
        </FieldGroup>
        <FieldGroup label="Phone">
            <Input placeholder="Phone e.g. 123456789" v-model="form.phone"></Input>
            <ErrorMessage v-if="$v.form.phone.$dirty && !$v.form.phone.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.phone.$dirty && !$v.form.phone.phoneValidator">This field must be a valid phone number.</ErrorMessage>
        </FieldGroup>
        <FieldGroup label="Birthday">
            <DatePicker v-model="form.birthday" :disabled-range="noFutureRange" ref="birthdayDatePicker"/>
            <ErrorMessage v-if="$v.form.birthday.$dirty && !$v.form.birthday.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.birthday.$dirty && !$v.form.birthday.dateValidator">This field must be a valid date.</ErrorMessage>
        </FieldGroup>
        <FieldGroup label="About">
            <TextArea placeholder="About" v-model="form.about" rows="3"></TextArea>
            <ErrorMessage v-if="$v.form.about.$dirty && !$v.form.about.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.about.$dirty && !$v.form.about.maxLength">Maximum value length is 500.</ErrorMessage>
        </FieldGroup>
        <FieldGroup label="Avatar">
            <b-form-file
                v-model="form.avatar"
                placeholder="Choose a file or drop it here..."
                drop-placeholder="Drop file here..."
                accept=".jpg, .jpeg, .png"
            ></b-form-file>
            <ErrorMessage v-if="$v.form.avatar.$dirty && !$v.form.avatar.required">This field is required.</ErrorMessage>
            <ErrorMessage v-if="$v.form.avatar.$dirty && !$v.form.avatar.fileSizeValidator">The maximum file size is 2MB.</ErrorMessage>
        </FieldGroup>
        <div v-if="avatarUrl" class="d-flex align-items-end py-2">
            <Avatar :avatar="avatarUrl" size="xlarge"/>
            <Button spacing="none" @click="removeAvatar"><EditorRemoveIcon slot="icon-before"/></Button>
        </div>
        <Button type="submit" appearance="primary" :isLoading="loading" class="align-self-end mt-3">Submit</Button>
        <ErrorMessage v-if="errorOccured" class="align-self-end mt-2">Sorry, an error has occurred, try again.</ErrorMessage>
    </form>
</template>

<script>
import { Button, FieldGroup, TextArea, DatePicker, Input, Avatar, EditorRemoveIcon } from '@spartez/vue-atlaskit'
import ErrorMessage from '../components/ErrorMessage.vue'
import { required, email, maxLength } from 'vuelidate/lib/validators'
import { saveUserInfo } from '../helpers/userInfo.js'
import { fileSizeValidator, phoneValidator, dateValidator } from '../helpers/customValidators.js'

export default {
    components: {
        Button,
        FieldGroup,
        TextArea,
        ErrorMessage,
        DatePicker,
        Input,
        Avatar,
        EditorRemoveIcon
    },
    data() {
        const tomorrow = new Date()
        tomorrow.setDate(tomorrow.getDate() + 1)

        return {
            form: {
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                birthday: '',
                about: '',
                avatar: null
            },
            avatarUrl: '',
            noFutureRange: {
                from: tomorrow
            },
            loading: false,
            errorOccured: false
        }
    },
    mounted() {
        if (this.$refs?.birthdayDatePicker?.$refs?.input.placeholder) {
            this.$refs.birthdayDatePicker.$refs.input.placeholder = 'dd/mm/yyyy'
        }
    },
    watch: {
        'form.avatar': 'onAvatarChange'
    },
    validations: {
        form: {
            firstName: {
                required,
                maxLength: maxLength(50)
            },
            lastName: {
                required,
                maxLength: maxLength(50)
            },
            email: {
                required,
                email,
                maxLength: maxLength(50)
            },
            phone: {required, phoneValidator},
            birthday: {required, dateValidator},
            about: {
                required,
                maxLength: maxLength(500)
            },
            avatar: {required, fileSizeValidator}
        }
    },
    methods: {
        async submitForm() {
            this.$v.$touch()

            if (!this.$v.$invalid && !this.isLoading) {
                try {
                    this.isLoading = true
                    this.errorOccured = false
                    let response = await saveUserInfo(this.form)
                    this.isLoading = false
                    if (response.success) {
                        this.$router.push('profile')
                    } else {
                        this.errorOccured = true
                    }
                } catch {
                    this.errorOccured = true
                    this.isLoading = false
                }
            }
        },
        onAvatarChange(newVal) {
            this.avatarUrl = newVal ? URL.createObjectURL(newVal) : ''
        },
        removeAvatar() {
            this.form.avatar = null
            this.avatarUrl = ''
        }
    }
}
</script>