<template>
    <section class="content-wrapper">
        <div class="d-flex flex-column flex-md-row">
            <Avatar :avatar="user.avatar" size="xlarge"/>
            <div class="mt-3 mt-md-0 ml-md-3">
                <TextWithLoader :is-loading="isLoading" :text="userName" label="Name:"></TextWithLoader>
                <TextWithLoader :is-loading="isLoading" :text="user.email" label="Email:"></TextWithLoader>
                <TextWithLoader :is-loading="isLoading" :text="user.phone" label="Phone:"></TextWithLoader>
                <TextWithLoader :is-loading="isLoading" :text="dateOfBirth" label="Birthday:"></TextWithLoader>
                <TextWithLoader :is-loading="isLoading" :text="user.about" label="About:"></TextWithLoader>
            </div>
        </div>
    </section>
</template>

<script>
import { Avatar } from '@spartez/vue-atlaskit'
import { getUserInfo } from '../helpers/userInfo.js'
import TextWithLoader from '@/components/TextWithLoader.vue'
import moment from 'moment'

export default {
    components: {
        Avatar,
        TextWithLoader
    },
    data() {
        return {
            user: {
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                birthday: '',
                about: '',
                avatar: ''
            },
            isLoading: false
        }
    },
    async created() {
        this.isLoading = true
        let response = await getUserInfo()
        this.isLoading = false
        if (response.user) {
            this.user = {
                ...this.user,
                ...response.user
            }
        }
    },
    computed: {
        userName() {
            return `${this.user.firstName} ${this.user.lastName}`.trim()
        },
        dateOfBirth() {
            return this.user.birthday ? moment(this.user.birthday).format('DD.MM.YYYY') : ''
        }
    }
}
</script>