<template>
    <Menu>
        <MenuSection>
            <router-link v-for="(link, key) in links" :key="key" :to="link.path">
                <MenuItem :active="$route.path === link.path">
                    {{ link.label }}
                </MenuItem>
            </router-link>
        </MenuSection>
    </Menu>
</template>

<script>
import { Menu, MenuSection, MenuItem } from '@spartez/vue-atlaskit'

export default {
    components: {
        Menu,
        MenuSection, 
        MenuItem
    },
    data() {
        return {
            links: [
                {label: 'Form', path: '/'},
                {label: 'Profile', path: '/profile'}
            ]
        }
    }
}
</script>