<template>
    <footer class="px-2 px-lg-5 py-3 text-center">
        {{ name }} | <a :href="`mailto:${email}`">{{ email }}</a>
    </footer>
</template>

<script>
export default {
    data() {
        return {
            email: 'katarzynagodlewskakg@gmail.com',
            name: 'Katarzyna Godlewska'
        }
    }
}
</script>