<template>
    <nav class="navbar navbar-light shadow-sm px-3">
        <router-link to="/" class="navbar-brand">
            <img src="@/assets/logo.png"/>
        </router-link>
    </nav>
</template>

<style lang="scss" scoped>
img {
    width: 30px;
    height: 30px;
}
</style>