<template>
    <div class="pb-3">
        <ContentLoader v-if="isLoading"/>
        <template v-else>
            <h5>{{ label }}</h5>
            <p>{{ text || '-' }}</p>
        </template>
    </div>
</template>

<script>
import { ContentLoader } from '@spartez/vue-atlaskit'
export default {
    props: ['isLoading', 'text', 'label'],
    components: {
        ContentLoader
    }
}
</script>

<style lang="scss" scoped>
p {
    margin: 0;
}
</style>