<template>
    <div id="app">
        <CustomNavbar/>
        <div class="d-flex flex-column flex-lg-row page-wrapper">
            <div class="menu-wrapper">
                <CustomMenu/>
            </div>
            <div class="main-wrapper">
                <main class="p-4">
                    <router-view />
                </main>
                <CustomFooter/>
            </div>
        </div>
    </div>
</template>

<script>
import CustomNavbar from './components/CustomNavbar.vue'
import CustomFooter from './components/CustomFooter.vue'
import CustomMenu from './components/CustomMenu.vue'

export default {
    components: {
        CustomNavbar,
        CustomFooter,
        CustomMenu
    }
}
</script>
