$atlaskitBorderColor: #dfe1e6;
$atlaskitBackgroundColor: #fafbfc;
$atlaskitBackgroundColorFocus: #4c9aff;
$atlaskitBackgroundColorHover: #ebecf0;
$ataskitPlaceholderColor: #7a869a;

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
}

.page-wrapper {
    width: 100%;
    flex: 1;
}

.menu-wrapper {
    background: #F4F5F7;
    width: 100%;
    border-bottom: 1px solid $atlaskitBackgroundColorHover;

    @media (min-width: 992px) {
        width: 300px;
        border-right: 1px solid $atlaskitBackgroundColorHover;
        border-bottom: none;
    }
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-wrapper {
    max-width: 800px;
}

footer {
    border-top: 1px solid $atlaskitBackgroundColorHover;
}

// overwrite bootstrap file input to atlaskit styles

.input-wrapper[select][data-v-b2f9916a]:not([is-loading]) {
    background-color: $atlaskitBackgroundColor;
    border-color: $atlaskitBorderColor;
}

.custom-file-input, .custom-file-label {
    background-color: $atlaskitBackgroundColor;
    border: solid 2px $atlaskitBorderColor;
}

.custom-file-input:focus, .custom-file-label:focus {
    background-color: #fff;
    border-color: $atlaskitBackgroundColorFocus;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: $atlaskitBackgroundColorFocus;
    box-shadow: none;
}

.custom-file-label {
    border-radius: 3px;
    padding-left: 6px;


    &::after, span {
        opacity: 1;
        color: $ataskitPlaceholderColor;
    }
}

.custom-file-input:hover ~ .custom-file-label {
    background-color: $atlaskitBackgroundColorHover;
}